html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

@font-face{
    font-family: 'Inter';
    src: url("../fonts/InterLight.woff2") format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url("../fonts/InterRegular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url("../fonts/InterMedium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url("../fonts/InterSemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url("../fonts/InterBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--color-darkblue);
}

:root {
    --color-white: #fff;
    --color-darkblue: #1A1C21;
    --color-red: #DC0909;
}

.btn__reset{
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
.list__reset{
    padding: 0;
    margin: 0;
    list-style: none;
}

.conteiner{
    max-width: calc(100vw - 30px);
    padding: 0 15px;
    margin: 0 auto;
}


.hero{
    height: 100vh;
}

.conteiner__hero{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column  ;
}

.hero__img__row{
    position: absolute;
    top: -600px;
    left: 0;
    
    min-width: 100%;
    height: 50%;
    
    display: flex;
    overflow: hidden;

    z-index: -2;
    animation: 2s ease-in-out 0.7s forwards img__plane;
}

@keyframes img__plane{
    from{
        top: -600px;
    }
    to{
        top: 0;
    }
}

.hero__row{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__row:first-child{
    margin-top: 100px;
}

.plane{
    background-color: var(--color-white);
}

.hero__plane{
    position: absolute;
    top: 0;

    height: 155px;
    animation: 1s ease-in-out 1s forwards plane-fating;

    z-index: -1;
}

@keyframes plane-fating {
    from {
        width: 0%;
        left: 50%;
    }
    to {
        width: 100%;
        left: 0;
        
    }
}

.hero__title{
    font-weight: 600;
    font-size: 128px;
    line-height: 155px;
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--color-white);
    
    animation: 1s ease-in-out 1s forwards title-paint;

    z-index: 1;
}

@keyframes title-paint {
    from {
        color: var(--color-white);
    }
    to {
        color: rgb(0, 0, 0);
    }
}

.hero__desk{
    margin-top: 30px;
    padding: 0 20px;

    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: var(--color-white);
}

.desk-hero__plane{
    height: 5px;
    margin-top: 10px;
    animation: 1s ease-in-out 1.3s forwards plane-fating2;
}

@keyframes plane-fating2 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.hero__scroll{
    position: relative;
    
    width:200px;
    height:200px;
    margin-bottom: 100px;
    
    overflow: hidden;
  }
  
  .arrow:first-child{
    position: absolute;
    bottom:130%;
    left: 22%;
    
    width: 50%;
    height: 50%;
    
    border: 0 solid rgb(255, 255, 255);
    border-bottom-width: 10px;
    border-left-width: 10px;
    transform: rotate(-45deg);
      
    animation: 1s ease-in-out 1.5s forwards arrow;
  }
  
  .arrow:last-child{
    position: absolute;
    bottom:130%;
    left: 22%;
    
    width: 50%;
    height: 50%;
    
    border: 0 solid rgb(255, 255, 255);
    border-bottom-width: 10px;
    border-left-width: 10px;
    transform: rotate(-45deg);
      
    animation: 1s ease-in-out 1.3s forwards arrow2;
  }
  
  @keyframes arrow{
    0%{
      bottom:130%;
    }
    80%{
      bottom:40%;
    }
    90%{
      bottom:55%;
    }
    100%{
      bottom:50%;
    }
  }
  
  @keyframes arrow2{
    0%{
      bottom:130%;
    }
    80%{
      bottom:20%;
    }
    90%{
      bottom:35%;
    }
    100%{
      bottom:30%;
    }
  }


.portfolio{
}

.conteiner__portfolio{
    position: relative;
}

.btn__next{
    position: absolute;
    right: 0;
    top: 50%;

    width: 50px;
    height: 50px;
    background-color: var(--color-white);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.portfolio__item{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 2fr;
}

.title{
    text-align: center;
    color: var(--color-white);
}

.portfolio__title{
    width: 100%;
    margin-bottom: 100px;
    grid-column: 1/3;
}

.portfolio-col__foto{
    display: flex;
    justify-content: end;
    align-items: center;
}

.portfolio-item__foto{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio__img:first-child{
    grid-column: 1/3;
}

.portfolio__img:not(:first-child){
    object-fit: contain;
}

.portfolio-item__col{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-item__title{
    font-weight: 400;
    margin-bottom: 30px;
}

.portfolio-item__paragraph{
    color: var(--color-white);
    margin-bottom: 15px;
}

.portfolio__plane{
    position: absolute;
    height: 15px;
    animation: 1s ease-in-out 1.3s forwards plane-fating2;
}

.portfolio__plane:first-child{
    top: 0;
    left: 0;
}

.portfolio__plane:last-child{
    bottom: 0;
    left: 0;
}



